@tailwind base;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Jalnan;
    font-weight: 500;
    src: url('/fonts/Jalnan.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: Paperlogy;
    font-weight: 300;
    src: url('/fonts/Paperlogy-3Light.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: Paperlogy;
    font-weight: 500;
    src: url('/fonts/Paperlogy-5Medium.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: Paperlogy;
    font-weight: 700;
    src: url('/fonts/Paperlogy-7Bold.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
  }

  html {
    font-family: 'Paperlogy', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
  }
}
